@import "tailwindcss";

@font-face {
  font-family: "et-book";
  src: url("/fonts/et-book-roman-old-style-figures.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url("/fonts/et-book-bold-line-figures.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url("/fonts/et-book-display-italic-old-style-figures.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

article p {
  margin-bottom: 1em;
}

article blockquote {
  border-left: 3px solid #888;
  padding-left: 1em;
  margin: 1.5em 0;
  font-style: italic;
  color: #555;
}
