---
import BaseLayout from "../Layouts/BaseLayout.astro";
---

<BaseLayout currentPage="about" bodyClass="text-lg">
    <div class="px-2 sm:px-4">
        <p class="leading-relaxed">
            Hi. I'm Cal, a software engineering student in Montreal. I'm
            in my fourth year, minoring in computer science and Spanish.
            I use this site to bookmark things I've found over time. I
            <i>(try to)</i> write sometimes.
        </p>

        <p class="mt-4">
            An RSS feed for this site can be found <a
                href="/rss.xml"
                class="underline">here</a
            >.
        </p>
    </div>
</BaseLayout>
