---
import { Font } from "astro:assets";
---

<Font cssVariable="--font-special" preload />

<style>
  body {
    font-family: var(--font-special);
  }
</style>

<meta charset="utf-8" />
<link rel="icon" href="/favicons/favicon.ico" />
<link rel="apple-touch-icon" href="/favicons/apple-touch-icon.ico" />
<meta name="viewport" content="width=device-width" />
<title>Cal Seagram</title>
