---
import "../styles/global.css";
import Head from "../components/Head.astro";
import Title from "../components/Title.astro";
const { frontmatter } = Astro.props;
const displayDate = new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
    timeZone: "UTC",
});
---

<html lang="en">
    <Head />
    <body class="bg-[#f2f1ed] flex justify-center font-[Georgia] py-8">
        <div
            class="w-[700px] bg-[#faf9f5] shadow-sm px-8 py-10 min-h-[calc(100vh-4rem)] text-[#363431] relative"
        >
            <Title />
            <article class="mb-32">
                <header class="mb-6 text-center">
                    <h1
                        class="text-xl font-[Georgia] tracking-widest uppercase"
                    >
                        {frontmatter.title}
                    </h1>
                    <p class="text-sm text-[#6b6864] mt-2 italic">
                        {displayDate}
                    </p>
                </header>
                <div class="hyphens-auto">
                    <slot />
                </div>
            </article>
        </div>
    </body>
</html>
