---
import "../styles/global.css";
import Head from "../components/Head.astro";
import Title from "../components/Title.astro";
const { frontmatter } = Astro.props;
const displayDate = new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
    timeZone: "UTC",
});
---

<html lang="en">
    <Head />
    <body class="bg-[#faf9f5] sm:bg-[#f2f1ed] flex justify-center font-et-book py-0 sm:py-8 px-0 sm:px-3">
        <div
            class="w-full max-w-[700px] sm:bg-[#faf9f5] sm:shadow-sm px-4 sm:px-8 py-10 min-h-screen sm:min-h-[calc(100vh-4rem)] text-[#363431] relative"
        >
            <Title />
            <article class="mb-32">
                <header class="mb-6 text-center">
                    <h1
                        class="text-xl font-et-book tracking-widest uppercase"
                    >
                        {frontmatter.title}
                    </h1>
                    <p class="text-sm text-[#6b6864] mt-2 italic">
                        {displayDate}
                    </p>
                </header>
                <div class="prose prose-lg prose-stone hyphens-auto max-w-none">
                    <slot />
                </div>
            </article>
        </div>
    </body>
</html>
